@page
@model ProjectGraverJustin.Pages.Models.Staff.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblStaff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblStaff.StaffNameLast)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblStaff.StaffNameLast)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblStaff.StaffNameFirst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblStaff.StaffNameFirst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblStaff.Occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblStaff.Occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblStaff.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblStaff.Salary)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblStaff.StaffId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
